<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>studentdiscounts</name>
	<displayName><![CDATA[Student discounts]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[The module allows users to create a student account that entitles you to discounts]]></description>
	<author><![CDATA[Michał Drożdżyński]]></author>
	<tab><![CDATA[others]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
